APP_ENV=development
APP_NAME=TaxLens AI
API_HOST=0.0.0.0
API_PORT=8000
LOG_LEVEL=INFO
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=taxlens
DATABASE_USER=taxlens
DATABASE_PASSWORD=taxlens
LOCAL_STORAGE_PATH=./data/local
EMBEDDING_MODEL_ID=intfloat/multilingual-e5-small
EMBEDDING_MODEL_REVISION=614241f622f53c4eeff9890bdc4f31cfecc418b3
EMBEDDING_MODEL_PATH=./data/models/multilingual-e5-small
EMBEDDING_DIMENSIONS=384
EMBEDDING_MAX_TOKENS=512
EMBEDDING_BATCH_SIZE=32
